.refund_policy_section .content_area {
    padding-bottom: 20px;
}

.refund_policy_section .content_area .cnt_wrap p+p,
.refund_policy_section .cnt_wrap p+p {
    padding-top: 10px;
}

.refund_policy_section .policy_block {
    padding-top: 30px;
}

.refund_policy_section .underline_title {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.refund_policy_section strong {
    font-weight: 600;
}

